<!<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<template id="eld-row-template">
			<tr>
				<td>
					<time data-field="datetime"></time>
				</td>
				<td data-field="type"></td>
				<td class="location-cell">
					<a class="color-link" href="" target="_blank" rel="nofollow external noreferrer">
						<u data-field="location"></u>
					</a>
				</td>
				<td data-field="latitude"></td>
				<td data-field="longitude"></td>
			</tr>
		</template>
	</body>
</html>
