<!<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<template id="eld-table-template">
			<table class="card shadow relative" border="1">
				<caption>
					<abbr title="Electronic Logging Device">ELD</abbr>
					<span>Log</span>
				</caption>
				<thead class="bg-dimgray color-alt sticky top z-2">
					<tr>
						<th>Driver</th>
						<th>DateTime</th>
						<th>Type</th>
						<th>Location</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody class="scrollbar-thin scrollbar-light"></tbody>
				<tfoot class="bg-dimgray color-alt">
					<tr>
						<th>Driver</th>
						<th>DateTime</th>
						<th>Type</th>
						<th>Location</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</tfoot>
			</table>
		</template>
	</body>
</html>
