<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<template id="eld-table-template">
			<table class="card shadow relative" border="1">
				<caption>
					<h3 class="clearfix">
						<span data-field="driver"></span>
						<button type="button" data-click="email" title="Send via email" class="btn btn-default float-right">
							<svg class="current-color icon" viewBox="0 0 14 16">
								<path fill-rule="evenodd" d="M6 5H4V4h2v1zm3 1H4v1h5V6zm5-.48V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V5.52c0-.33.16-.63.42-.81L2 3.58V3c0-.55.45-1 1-1h1.2L7 0l2.8 2H11c.55 0 1 .45 1 1v.58l1.58 1.13c.27.19.42.48.42.81zM3 7.5L7 10l4-2.5V3H3v4.5zm-2 6l4.5-3-4.5-3v6zm11 .5l-5-3-5 3h10zm1-6.5l-4.5 3 4.5 3v-6z"/>
							</svg>
						</button>
						<hr />
						<abbr title="Electronic Logging Device">ELD</abbr>
						<span>Log</span>
					</h3>
					<form name="locationSearch" class="card shadow">
						<input type="search" name="location" placeholder="123 Some St." list="locations-list" autocomplete="off" required="" />
						<button type="reset" class="btn btn-reject">
							<svg class="current-color icon" viewBox="0 0 12 16">
								<path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z" />
							</svg>
						</button>
						<datalist id="locations-list"></datalist>
					</form>
				</caption>
				<thead class="bg-dimgray color-alt sticky top z-2">
					<tr>
						<th>
							<svg class="current-color icon" viewBox="0 0 14 16">
								<path fill-rule="evenodd" d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"/>
							</svg>
							<span>DateTime</span>
							</th>
						<th>Type</th>
						<th>
							<svg class="current-color icon" viewBox="0 0 16 16.003">
								<path d="M8 0a5 5 0 0 0-5 5c0 .173.014.332.031.5.014.167.036.336.063.5C3.666 9.514 6 12.003 8 14.003c2-2 4.334-4.489 4.906-8.003a6.38 6.38 0 0 0 .063-.5c.017-.168.03-.327.03-.5a5 5 0 0 0-5-5zm0 3a2 2 0 1 1 0 4 2 2 0 0 1 0-4z" solid-color="#000000"/>
							</svg>
							<span>Location</span>
						</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody class="scrollbar-thin scrollbar-light"></tbody>
				<tfoot class="bg-dimgray color-alt">
					<tr>
						<th>DateTime</th>
						<th>Type</th>
						<th>Location</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</tfoot>
			</table>
		</template>
	</body>
</html>
