<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<dialog id="email-dialog" class="animation-speed-normal animation-ease-in-out fadeIn">
			<form name="sendEmail">
				<input type="hidden" name="token" value="" />
				<input type="hidden" name="from_option" value="" />
				<input type="hidden" name="thru_option" value="" />
				<input type="email" name="toemail" placeholder="user@example.com" required="" />
				<br />
				<button type="submit" class="btn btn-accept">
					<svg class="current-color icon" viewBox="0 0 12 16">
						<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"/>
					</svg>
				</button>
				<button type="reset" class="btn btn-reject">
					<svg class="current-color icon" viewBox="0 0 12 16">
						<path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"/>
					</svg>
				</button>
			</form>
		</dialog>
	</body>
</html>
